<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="undefined" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/78ccc250b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container-fluid p-5">
        <div class="row d-flex justify-content-between">
          
            {{{body}}}

            <div class="col-2 ml-5">
                <div>
                    HELP<br>
                    Start typing a new note.<br>
                    Click save to add note to storage.<br>
                    Click saved titles to edit saved note.<br>
                    Click <i class="fas fa-times"></i> to delete saved note.
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>