body,
input,
button,
select {
  font-size: small;
}

input[type=text] {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea {
  width: 100%;
  height: 85vh;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

input[type=submit] {
  transform: translate(-5px);
}

#user {
  text-transform: capitalize;
}